.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: var(--true-blue);
}

.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}

.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: var(--snow-white);
}

.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 36px;
}

.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

.shareButton {
  color: var(--snow-white);
}

.shareButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--snow-white);
}

.urlTextBox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--granite-grey);
  border: 1px solid var(--sand-grey);
  border-radius: 4px;
}

.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  background: var(--snow-white);
  border: 1px solid var(--sand-grey);
  border-radius: 4px;
}

.copyButtonContainer:hover {
  cursor: pointer;
  background: var(--sand-grey);
}

.copyButton {
  color: var(--true-blue);
}

.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--true-blue);
}

@media (max-width: 480px) {
  .headerTitleContainer {
    margin-left: 4px;
  }

  .headerIcon {
    margin-left: 26px;
  }
}
