.shareButtonRoot {
  width: 86px;
  height: 32px;
  border-radius: 4px;
  background: var(--true-blue);
  padding: 5px 12px;
}

.shareButtonRoot:hover {
  background: var(--sea-blue);
}

.shareButtonRoot span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--snow-white);
}

.shareButtonRoot i,
.shareButtonRoot:hover i {
  color: var(--snow-white) !important;
}

.historyButtonRoot {
  width: 180px;
  border: 1px solid var(--sand-grey);
  background-color: var(--snow-white);
  color: var(--true-blue);
}

.historyButtonRoot:hover {
  border: 1px solid var(--true-blue);
  background-color: rgba(0, 25, 101, 0.05);
}

.historyButtonRoot:active {
  border: 1px solid var(--true-blue);
  background-color: rgba(0, 25, 101, 0.1);
}

@media (max-width: 480px) {
  .shareButtonRoot {
    width: auto;
    padding: 5px 8px;
  }

  .historyButtonRoot {
    width: auto;
    padding: 0 8px;
  }
}
